---
import "../../styles/global.css"
import { Image } from "astro:assets"
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"

const characters = await getCollection("characters")
---

<Layout title="Characters">
  <h1
    class="transition-all relative duration-300 ease-in-out text-6xl font-bold text-shadow-lg py-5 pl-2 mb-5 text-sky-600 hover:text-green-700 bottom-0 hover:bottom-2"
  >
    Characters
  </h1>
  <ul class="character-list">
    {
      characters.map((character) => (
        <li class="character-item">
          <Image
            src={character.data.image}
            alt={character.data.name}
            width={50}
            height={50}
            inferSize
            class="character-image"
          />
          <a href={`/characters/${character.id}`}>{character.data.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  .character-list {
    list-style: none;
    padding: 0;
  }

  .character-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .character-image {
    border-radius: 0.4rem;
    margin-right: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--color-primary);
  }

  a:hover {
    text-decoration: underline;
  }
</style>
